<div style="margin: 0; padding: 0; font-family:'sans-serif';color:#6e6e6e;">
    <table style="border: 0;border-collapse: collapse;width: 100%">
        <tr>
            <td>
                <table style="border-collapse: collapse;margin: auto;border: 0; width: 600px;">
                    <tr>
                        <td style="text-align:left;background-color:#fb6519;padding: 30px 0 30px 30px;color: #ffffff;font-weight: 700;font-size:24px;font-family: 'sans-serif';letter-spacing: 7px;">
                            CONFIRMATION MAIL
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:#f2f2f2;padding: 40px 30px 40px 30px;">
                            <!-- content area -->
                            <table style="border: 0;border-collapse: collapse;width: 100%">
                                <tr>
                                    <td
                                            style="text-align:center;padding-bottom:20px;color: #04B45F;font-size:24px;font-weight:bolder;">
                                        Account Confirmed !
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/enkrypt-4fbe3.appspot.com/o/logodes__9_-removebg-preview.png?alt=media&token=3009fd05-854e-42a2-ac8b-770da8e92bf7"
                                             alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:50px;">
                                        Hi,
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:20px;">
                                        Welcome !
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:20px;">
                                        Thank you for joining us ${username}. Your account is confirmed. You now have
                                        access to login.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:10px;">
                                        You may now sign in,
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:20px;">
                                        <a href="https://sihenkrypt.netlify.app/login"
                                           style="margin:auto;padding: 10px 25px;background-color: #fb6519;color: #ffffff; border:none;border-radius:4px;display:block;width:200px;text-align:center;text-decoration:none;">Sign
                                            in</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:20px;">
                                        If you have any questions or concerns please reach out to your dedicated
                                        Universum contact, or email us any time at <a href="#" style="color:#fb6519;">sih.enkrypt@gmail.com</a>
                                        if you have technical issues.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:20px;">
                                        Best Regards,
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Team Enkrypt
                                    </td>
                                </tr>
                            </table>
                            <!-- content area ends  -->
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:#2A2F43;padding: 20px 10px ">
                            <!-- footer area -->
                            <table style="border: 0;border-collapse: collapse;width: 100%">
                                <tr>
                                    <td style="color:#ffffff;font-size:12px;">
                                        &copy; 2022 All Rights Reserved.
                                    </td>
                                    <td style="text-align: right">
                                        <table style="border: 0;border-collapse: collapse">
                                            <tr>
                                                <td style="font-size: 0; line-height: 0;width: 20px">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- footer ends -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>